.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.logo {
  width: 120px;
}

.nav-items {
  font-size: 1.5rem;
}

.nav-items > ul {
  display: flex;
  padding: 0px 10px;
}

.nav-items > ul > li {
  list-style-type: none;
  padding: 0px 10px;
}

.res-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 320px;
  padding: 10px;
  margin: 10px;

  border-radius: 2%;
  background-color: #eee;
  transition: transform 0.2s, margin 0.2s;
}

.res-card:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  transform: scale(0.97);
}

.res-card > img {
  width: 100%;
}
